# Investigating Bike Share datasets (2024)
In this notebook, I will Wrangle bike share data from 3 different sources and combine them together for further analysis. The data is about bike share systems in 3 different cities in the United States
1. Chicago (Data obtained from Divvy company)
2. New York City (Data obtained from Citi Bike company)
3. Washington, DC (Data obtained from Capital Bikeshare company)

## Imports

In [1]:
import pandas as pd
import os

## Gathering Data

In [2]:
chicago_datasets = os.listdir('chicago')
# read the CSVs and append them in a single DataFrame
chicago = pd.concat([pd.read_csv(f'chicago/{dataset}') for dataset in chicago_datasets])
chicago.shape

(5738612, 13)

In [3]:
new_york_datasets = os.listdir('Newyork')
new_york = pd.concat([pd.read_csv(f'Newyork/{dataset}') for dataset in new_york_datasets])
new_york.shape

(988774, 13)

In [4]:
washigton_datasets = os.listdir('Washington')
washigton = pd.concat([pd.read_csv(f'Washington/{dataset}') for dataset in washigton_datasets])
washigton.shape

(4860726, 13)

## Assessing

### existing columns in the datasets

In [5]:
chicago.columns, new_york.columns, washigton.columns

(Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
        'start_station_name', 'start_station_id', 'end_station_name',
        'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
        'member_casual'],
       dtype='object'),
 Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
        'start_station_name', 'start_station_id', 'end_station_name',
        'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
        'member_casual'],
       dtype='object'),
 Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
        'start_station_name', 'start_station_id', 'end_station_name',
        'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
        'member_casual'],
       dtype='object'))

- All of them have the same columns

### Data Types

In [6]:
chicago.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5738612 entries, 0 to 415024
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 612.9+ MB

In [7]:
new_york.info()

<class 'pandas.core.frame.DataFrame'>
Index: 988774 entries, 0 to 79115
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             988774 non-null  object
 1   rideable_type       988774 non-null  object
 2   started_at          988774 non-null  object
 3   ended_at            988774 non-null  object
 4   start_station_name  988592 non-null  object
 5   start_station_id    988592 non-null  object
 6   end_station_name    985499 non-null  object
 7   end_station_id      985470 non-null  object
 8   start_lat           988774 non-null  float64
 9   start_lng           988774 non-null  float64
 10  end_lat             987970 non-null  float64
 11  end_lng             987970 non-null  float64
 12  member_casual       988774 non-null  object
dtypes: float64(4), object(9)
memory usage: 105.6+ MB

In [8]:
washigton.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4860726 entries, 0 to 436945
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    float64
 6   end_station_name    object
 7   end_station_id      float64
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(6), object(7)
memory usage: 519.2+ MB

- `Started_at` and `Ended_at` need to be converted to datetime in all of them
- Stations IDs are strings except for Washington, in which they are floats

### Missing Values

In [10]:
chicago.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    885429
start_station_id      885429
end_station_name      939115
end_station_id        939115
start_lat                  0
start_lng                  0
end_lat                 7610
end_lng                 7610
member_casual              0
dtype: int64

In [11]:
new_york.isnull().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name     182
start_station_id       182
end_station_name      3275
end_station_id        3304
start_lat                0
start_lng                0
end_lat                804
end_lng                804
member_casual            0
dtype: int64

In [12]:
washigton.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    565577
start_station_id      565577
end_station_name      598081
end_station_id        598249
start_lat                  0
start_lng                  0
end_lat                 5508
end_lng                 5508
member_casual              0
dtype: int64

### Duplicates

In [9]:
chicago.duplicated().sum(), new_york.duplicated().sum(), washigton.duplicated().sum()

(0, 0, 0)

- No duplicates in any of the datasets

## Cleaning

### Drop Unrelevant Columns
- we are not interested in Station IDs and Ride IDs, as we will combine data from different companies

In [13]:
columns_to_drop = ['ride_id', 'start_station_id', 'end_station_id']
chicago.drop(columns=columns_to_drop, inplace=True)
new_york.drop(columns=columns_to_drop, inplace=True)
washigton.drop(columns=columns_to_drop, inplace=True)

### Fix Data Types

In [18]:
chicago["started_at"] = pd.to_datetime(chicago["started_at"])
chicago["ended_at"] = pd.to_datetime(chicago["ended_at"])
new_york["started_at"] = pd.to_datetime(new_york["started_at"])
new_york["ended_at"] = pd.to_datetime(new_york["ended_at"])
washigton["started_at"] = pd.to_datetime(washigton["started_at"])
washigton["ended_at"] = pd.to_datetime(washigton["ended_at"])

### Data range analysis

In [19]:
chicago.describe()

,started_at,ended_at,start_lat,start_lng,end_lat,end_lng
count,5738612,5738612,5.738612e+06,5.738612e+06,5.731002e+06,5.731002e+06
mean,2023-09-23 12:21:14.197405184,2023-09-23 12:39:36.218172928,4.190293e+01,-8.764689e+01,4.190327e+01,-8.764705e+01
min,2023-05-01 00:00:33,2023-05-01 00:04:28,4.163000e+01,-8.794000e+01,0.000000e+00,-8.816000e+01
25%,2023-07-06 14:04:16.750000128,2023-07-06 14:28:38.750000128,4.188096e+01,-8.766000e+01,4.188103e+01,-8.766014e+01
50%,2023-09-01 11:13:33.500000,2023-09-01 11:35:50,4.189897e+01,-8.764395e+01,4.190000e+01,-8.764410e+01
75%,2023-11-16 17:15:54.750000128,2023-11-16 17:28:17.500000,4.193000e+01,-8.762991e+01,4.193000e+01,-8.762991e+01
max,2024-04-30 23:59:46,2024-05-02 00:59:33,4.207000e+01,-8.746000e+01,4.218000e+01,0.000000e+00
std,NaN,NaN,4.502604e-02,2.727094e-02,5.439332e-02,6.907809e-02

In [23]:
new_york.describe()

,started_at,ended_at,start_lat,start_lng,end_lat,end_lng
count,988774,988774,988774.000000,988774.000000,987970.000000,987970.000000
mean,2023-10-12 00:25:00.878016512,2023-10-12 00:37:02.399596800,40.732402,-74.039995,40.732375,-74.039739
min,2023-05-01 00:02:59,2023-05-01 00:07:55,40.678334,-74.093255,40.645070,-74.190000
25%,2023-07-17 18:13:36.500000,2023-07-17 18:24:17.249999872,40.721124,-74.044311,40.721124,-74.044247
50%,2023-09-26 17:45:51,2023-09-26 17:54:28.500000,40.735285,-74.037683,40.735208,-74.037683
75%,2024-01-03 08:30:16.500000,2024-01-03 08:35:24,40.742341,-74.031026,40.742258,-74.030970
max,2024-04-30 23:53:14,2024-05-01 03:16:01,40.863943,-73.941173,40.871390,-73.888719
std,NaN,NaN,0.012216,0.011882,0.012334,0.011997

- For `Chicago` and `New York`, Date ranges are logical, and the standard deviation betweeen the station coordinates inside each city is reasonable

In [24]:
washigton.describe()

,started_at,ended_at,start_lat,start_lng,end_lat,end_lng
count,4860726,4860726,4.860726e+06,4.860726e+06,4.855218e+06,4.855218e+06
mean,2023-10-24 22:02:42.580500992,2023-10-24 22:11:25.518332160,3.890455e+01,-7.703201e+01,3.890364e+01,-7.703174e+01
min,2023-05-01 00:00:39,2000-01-01 15:55:56,3.875000e+01,-7.740000e+01,1.180000e+01,-7.756000e+01
25%,2023-07-24 09:30:09.249999872,2023-07-24 09:47:56.249999872,3.889224e+01,-7.704440e+01,3.889221e+01,-7.704440e+01
50%,2023-10-12 13:55:24.500000,2023-10-12 14:15:53.500000,3.890373e+01,-7.703000e+01,3.890283e+01,-7.703000e+01
75%,2024-02-03 16:38:14.750000128,2024-02-03 16:56:07,3.891679e+01,-7.701229e+01,3.891540e+01,-7.701211e+01
max,2024-04-30 23:59:54,2024-05-01 22:38:03,3.914000e+01,-7.682000e+01,3.919000e+01,-5.585000e+01
std,NaN,NaN,2.729272e-02,3.518131e-02,2.980541e-02,3.633627e-02

- For `Washington`, the minimum `ended_at` date is 2000-01-01, which is not logical as the data was obtained for the range between 2023-05-01 and 2024-05. we will drop the rows outside this range

In [29]:
# get the rows where the ended_at is less than 2023-05-01
washigton = washigton[washigton["ended_at"] >= "2023-05-01"]

In [30]:
washigton.describe()

,started_at,ended_at,start_lat,start_lng,end_lat,end_lng
count,4860722,4860722,4.860722e+06,4.860722e+06,4.855214e+06,4.855214e+06
mean,2023-10-24 22:02:34.235444736,2023-10-24 22:21:43.847624960,3.890455e+01,-7.703201e+01,3.890364e+01,-7.703174e+01
min,2023-05-01 00:00:39,2023-05-01 00:05:00,3.875000e+01,-7.740000e+01,1.180000e+01,-7.756000e+01
25%,2023-07-24 09:30:08,2023-07-24 09:48:11.500000,3.889224e+01,-7.704440e+01,3.889221e+01,-7.704440e+01
50%,2023-10-12 13:55:15.500000,2023-10-12 14:16:25,3.890373e+01,-7.703000e+01,3.890283e+01,-7.703000e+01
75%,2024-02-03 16:38:10,2024-02-03 16:56:17.249999872,3.891679e+01,-7.701229e+01,3.891540e+01,-7.701211e+01
max,2024-04-30 23:59:54,2024-05-01 22:38:03,3.914000e+01,-7.682000e+01,3.919000e+01,-5.585000e+01
std,NaN,NaN,2.729273e-02,3.518131e-02,2.980542e-02,3.633626e-02

### Drop missing values

In [32]:
chicago.dropna(inplace=True), new_york.dropna(inplace=True), washigton.dropna(inplace=True)

(None, None, None)

In [34]:
chicago.isnull().sum()

rideable_type         0
started_at            0
ended_at              0
start_station_name    0
end_station_name      0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [35]:
new_york.isnull().sum()

rideable_type         0
started_at            0
ended_at              0
start_station_name    0
end_station_name      0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [36]:
washigton.isnull().sum()

rideable_type         0
started_at            0
ended_at              0
start_station_name    0
end_station_name      0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

### unify the station coordinates
- we will use the mean of the coordinates for each station so that we can group the data by station without losing information

In [1]:
import pandas as pd
chicago = pd.read_csv('chicago.csv')
new_york = pd.read_csv('new_york.csv')
washigton = pd.read_csv('washigton.csv')
chicago.shape, new_york.shape, washigton.shape

((4335839, 10), (985432, 10), (4023678, 10))

In [2]:
chicago.shape[0] + new_york.shape[0] + washigton.shape[0]

9344949

In [3]:
# get the average coordinates for each station, add random small noise to avoid duplicates
import numpy as np
chicago_coords = chicago.groupby('start_station_name')[['start_lat', 'start_lng']].mean() 
chicago_coords = chicago_coords + np.random.normal(0, 0.0001, chicago_coords.shape)
new_york_coords = new_york.groupby('start_station_name')[['start_lat', 'start_lng']].mean()
new_york_coords = new_york_coords + np.random.normal(0, 0.0001, new_york_coords.shape)
washigton_coords = washigton.groupby('start_station_name')[['start_lat', 'start_lng']].mean()
washigton_coords = washigton_coords + np.random.normal(0, 0.0001, washigton_coords.shape)

In [4]:
# replace the coordinates with the average coordinates for each station
chicago['start_lat'] = chicago['start_station_name'].map(chicago_coords['start_lat'])
chicago['start_lng'] = chicago['start_station_name'].map(chicago_coords['start_lng'])
new_york['start_lat'] = new_york['start_station_name'].map(new_york_coords['start_lat'])
new_york['start_lng'] = new_york['start_station_name'].map(new_york_coords['start_lng'])
washigton['start_lat'] = washigton['start_station_name'].map(washigton_coords['start_lat'])
washigton['start_lng'] = washigton['start_station_name'].map(washigton_coords['start_lng'])

- do the same for the end station coordinates

In [5]:
chicago_coords_end = chicago.groupby('end_station_name')[['end_lat', 'end_lng']].mean()
chicago_coords_end = chicago_coords_end + np.random.normal(0, 0.0001, chicago_coords_end.shape)
new_york_coords_end = new_york.groupby('end_station_name')[['end_lat', 'end_lng']].mean()
new_york_coords_end = new_york_coords_end + np.random.normal(0, 0.0001, new_york_coords_end.shape)
washigton_coords_end = washigton.groupby('end_station_name')[['end_lat', 'end_lng']].mean()
washigton_coords_end = washigton_coords_end + np.random.normal(0, 0.0001, washigton_coords_end.shape)

# replace the coordinates with the average coordinates for each station
chicago['end_lat'] = chicago['end_station_name'].map(chicago_coords_end['end_lat'])
chicago['end_lng'] = chicago['end_station_name'].map(chicago_coords_end['end_lng'])
new_york['end_lat'] = new_york['end_station_name'].map(new_york_coords_end['end_lat'])
new_york['end_lng'] = new_york['end_station_name'].map(new_york_coords_end['end_lng'])
washigton['end_lat'] = washigton['end_station_name'].map(washigton_coords_end['end_lat'])
washigton['end_lng'] = washigton['end_station_name'].map(washigton_coords_end['end_lng'])

### Save the cleaned data

In [12]:
chicago.to_csv('chicago.csv', index=False)
new_york.to_csv('new_york.csv', index=False)
washigton.to_csv('washigton.csv', index=False)

## Combining the data
- to combine the data, we need to ensure that the columns are consistent across the datasets
    - for numeric columns, they will have to be in the same format (which we made sure of in the cleaning step)
    - for categorical columns, they will have to be in the same format and refer to the same information

In [13]:
chicago.columns

Index(['rideable_type', 'started_at', 'ended_at', 'start_station_name',
       'end_station_name', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [14]:
chicago["rideable_type"].value_counts()

rideable_type
classic_bike     2786598
electric_bike    1488554
docked_bike        60687
Name: count, dtype: int64

In [15]:
new_york["rideable_type"].value_counts()

rideable_type
classic_bike     767359
electric_bike    216823
docked_bike        1250
Name: count, dtype: int64

In [16]:
washigton["rideable_type"].value_counts()

rideable_type
classic_bike     2878806
electric_bike    1076326
docked_bike        68546
Name: count, dtype: int64

In [17]:
chicago["member_casual"].value_counts()

member_casual
member    2811161
casual    1524678
Name: count, dtype: int64

In [18]:
new_york["member_casual"].value_counts()

member_casual
member    739254
casual    246178
Name: count, dtype: int64

In [19]:
washigton["member_casual"].value_counts()

member_casual
member    2522674
casual    1501004
Name: count, dtype: int64

- The data is Consistent

In [20]:
chicago["city"] = "Chicago"
new_york["city"] = "New York"
washigton["city"] = "Washington DC"

In [21]:
# combine the three datasets
bike_share = pd.concat([chicago, new_york, washigton])
bike_share.shape

(9344949, 11)

In [22]:
bike_share.to_csv('bike_share.csv', index=False)